.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 90% 100px;
    height: 550px;
    background: linear-gradient(100deg, #00FFFF 0%, #0000FF 100% );

}

.Quiz h1 {
    color: lavenderblush;
    margin-left: 10px;
}

.QuizWrapper {
    width: 700px;
}